

.card-body{
    background-color: #000;
}

nav a {
    color: #fff;
}
.owl-carousel .item {
    margin: auto;
}
.owl-prev, .owl-next {
    background-color: transparent;
}
.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    left: -25px;
    display: block !important;
    border:0px solid black;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: -25px;
    display: block !important;
    border:0px solid black;
}
.owl-prev i, .owl-next i {transform : scale(2); color: #ccc;}

.bg-background{
    background-color: #7851a9;
}

h2{
    color: #7851a9;
}

.text1{
    color: #7851a9;
}

.text2{
    color: #fff;
}

.imgp{
    max-width: 100%;
}

a.page-link{
    color: #7851a9;
}

.footer1 {
    position: fixed;
    /* height: calc(100vh -296px); */
    bottom: 0;
    width: 100%;
}
.content {
    min-height: calc(100vh - 296px);
}
@media (max-width: 500px) {
    .table-sm-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
    }
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}