

.card-body{
    background-color: #000;
}

nav a {
    color: #fff;
}
.owl-carousel .item {
    margin: auto;
}
.owl-prev, .owl-next {
    background-color: transparent;
}
.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    left: -25px;
    display: block !important;
    border:0px solid black;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: -25px;
    display: block !important;
    border:0px solid black;
}
.owl-prev i, .owl-next i {transform : scale(2); color: #ccc;}

.bg-background{
    background-color: #7851a9;
}

h2{
    color: #7851a9;
}

.imgp{
    max-width: 100%;
}

a.page-link{
    color: #7851a9;
}

.footer1 {
    position: fixed;
    height: 200px;
    bottom: 0;
    width: 100%;
}